# Android Studio 관련
*.iml
/.gradle
/build
/captures
.externalNativeBuild
.cxx
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/local.properties

# Firebase Admin SDK
app/good-menu-firebase-adminsdk-*.json
